<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>It Solutions</title>
</head>
<body>
    <h1>Search IT Solutions</h1>
    <form method="POST">
        <input type="text" name="search" placeholder="Enter Problem..." value="{{ search_query}}">
        <button type="submit">Search</button>
    </form>

    <h2>Results</h2>
    <ul>
        {% for solution in solutions %}
            <li><strong>{{ solution.problem }}</strong>: {{ solution.solution}}</li>
        {% endfor %}
    </ul>
    
</body>
</html>